global
    maxconn 8192
    nbthread 1
    hard-stop-after 1s

defaults
    mode tcp
    no log
    option dontlognull
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout queue 2s

frontend rinha_front
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend api_servers

backend api_servers
    balance roundrobin
    default-server maxconn 3000
    server api1 unix@/sockets/api1.sock maxconn 10000
    server api2 unix@/sockets/api2.sock maxconn 10000
